<h1>プロフィール編集</h1>

<%= form_for @user do |f| %>
  名前 : <%= f.text_field :name %><br>
  年齢 : <%= f.text_field :age %><br>
  アドレス : <%= f.text_field :address %><br>
  趣味 : <%= f.text_field :hobby %><br>
  言語 : <%= f.text_field :language %><br>
  IDE : <%= f.text_field :ide %><br>
  体重 : <%= f.text_field :weight %><br>
  身長 : <%= f.text_field :height %><br>
  パスワード : <%= f.text_field :password %><br>

<p>
  <%= f.submit %>
</p>

<% end %>
